<!DOCTYPE html>
<html lang="en" class="h-full">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- <link rel="stylesheet" href="style.css"> -->
        <script src="https://unpkg.com/vue@3"></script>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="h-full grid place-items-center">
        <div id="app">
            <section v-show="inprogress.length" >
                <h2 class="font-bold mb-2" >In Progress</h2>

                <ul>
                    <li
                        v-for="assignment in assignments.filter(a => ! a.completed)"
                        :key="assignment.id"
                    >
                        <label >
                            {{ assignment.name }}
                            <input type="checkbox" v-model="assignment.completed" >
                        </label>
                    </li>
                </ul>
            </section>

            <section class="mt-2" v-show="completed.length" >
                <h2 class="font-bold mb-2" >Completed</h2>

                <ul>
                    <li
                        v-for="assignment in assignments.filter(a => a.completed)"
                        :key="assignment.id"
                    >
                        <label >
                            {{ assignment.name }}
                            <input type="checkbox" v-model="assignment.completed" >
                        </label>
                    </li>
                </ul>
            </section>

            <!-- <pre>{{ assignments }}</pre> -->
        </div>

        <script>

            let app = {
                data() {
                    return {
                        assignments : [
                            {id:1, name: 'Finish Project 1', completed: false},
                            {id:2, name: 'Finish Project 2', completed: true},
                            {id:3, name: 'Finish Project 3', completed: false},
                        ]
                    }
                },

                computed: {
                    inprogress() {
                        return this.assignments.filter(a => ! a.completed);
                    },
                    completed() {
                        return this.assignments.filter(a => a.completed);
                    },
                }
            }

            Vue.createApp(app).mount('#app');
        </script>
    </body>

</html>