<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://unpkg.com/vue@3"></script>
    </head>

    <body>
        <div id="app">

            <input type="text" v-model="greeting" id="">
            <br>
            <small v-if="greeting.length < 10 " style="color: red;">{{ error }}</small>

            <p>
                {{ greeting }} ({{ greeting.length }})
            </p>

        </div>

        <script>
            Vue.createApp({
                data() {
                    return {
                        greeting: 'Hello World!',
                        error: 'Not available!',
                    }
                },

                mounted() {
                    setTimeout( () => {
                        this.greeting = 'Changed!'
                    }, 3000)
                },
            }).mount('#app');
        </script>
    </body>

</html>